.buttontwo button{
    width: 8rem;
    height:3rem;
    background-color: green;
    display: grid;
    margin-left: 30px;
    margin-top: 10px;
    align-items: center;
    font-size:1rem;
    color:aliceblue;
    border-radius: 4px;
    border-color: green;
    text-decoration: none;
   opacity: 0.8;
}
.buttontwo button:hover{
    opacity: 1;
}
@media  (max-width:500px) {
  .buttontwo button{
    height:3.2rem;
    width:25rem;
    margin-right: 1.5rem;
    }
}